PROJECT_NAME={{cookiecutter.project_name}}
SERVICE_NAME={{cookiecutter.project_slug}}
LOG_FILE={{cookiecutter.log_folder}}/{{cookiecutter.project_slug}}.log
LOG_LEVEL={{cookiecutter.log_level}}
TIMEOUT={{cookiecutter.timeout}}
